#megamenu {
    background-color: #F9F9F9;
    border: 1px solid #E6E6E6;
    line-height: 125%;
    zoom: 1;
}

#megamenu.spanish a.mm-item-link, #megamenu.spanish  a.mm-item-link {padding: 7px 6px 6px 6px}

#megamenu.spanish .pulldown {
			font-weight: normal;
			font-size: .81em;
		}
#megamenu.spanish .pnlSubmenu {
			font-size: .9em;
			padding-left: -1px;
			padding-right: -1px
		}
#megamenu.spanish  ul.megamenu a.mm-item-link:link {padding-top: 6px}


#megamenu ul.megamenu {
  background-color: #888;
  border-top: 1px solid #888;
  border-bottom: 1px solid #666;
  margin: 0 auto;

  list-style: none;
  display: none;
}

#megamenu ul li {
  list-style-type: none;
  list-style-image: none;
  list-style-position: outside;
  font-size: 93%
}

ul.megamenu li.mm-item {
  list-style: none;
}

ul.megamenu li {
    border-color: #ccc;
    border-style: none solid none none;
    border-width: 1px;
    color: #aaa;
    margin: 0;
    padding: 0;
}

ul.megamenu li > a {
	color: #777;
}

ul.megamenu li.clear-fix {
  float: none;
  clear: both;
  margin: 0;
  padding: 0;
  height: 0px;
  font-size: 0em;
  line-height: 0em;
}

ul.megamenu a.mm-item-link:link, ul.megamenu a.mm-item-link:visited {
  position: relative;
  display: inline-block;
  color: #777;
  padding: 7px 7px 7px 7px; /* Must be 8px of vertical padding or right-most submenus will shift in some situations. Not sure if this is still true. */
  margin: 0;
  text-decoration: none;
  z-index: 10;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
}

*html ul.megamenu a.mm-item-link:link, *html ul.megamenu a.mm-item-link:visited {
  border-color: pink;
  filter: chroma(color=pink);
}

ul.megamenu a.mm-item-link-hover:link, ul.megamenu a.mm-item-link-hover:visited {
  color: #fff;
  background: #85B665;
  border-top: 1px solid #777;
  border-left: 1px solid #777;
  border-right: 1px solid #777;
  -moz-border-radius: 0px 0px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}

ul.megamenu div.mm-item-content {
  background: #fff;
  padding: 0;
  position: absolute;
  border: 1px solid #777;
  z-index: 9;
}

.mm-content-base {
  border-top: solid #85B665 .385em;
  *border-top: solid #85b665 .375em;
  background: #fff;
  position: relative;
  z-index: 11;
  padding: 1.154em;
  *padding: 1.125em 
}
.mm-js-shadow {
  background: #555;
  #background: none;
  position: absolute;
  z-index: 10;
}

.submenu h3 {
 	color: #003366;
	font-size: 100%;
	font-weight: bold;
	margin-bottom: .769em;
	*margin-bottom: .75m;
}

.submenu :link {
	color: #333;
}

.submenu h3 :link {
 	color: #1a558f;
}

.feature :visited {
}

.submenu a {
	color: #1a558f;
	text-decoration: none;
}

.submenu a:hover {
	color: #336699;
	text-decoration: underline;
}

.submenu {

}

.submenu ul {
	margin-left: 0;
}

.submenu li {
	margin-top: .462em;
	*margin-top: .45em;
 	margin-left: 0;
}

.submenu p {
	color: #505050;
 	margin-bottom: .462em;
	*margin-bottom: .45em;
	
}

.pnlSubmenu {
	float: left;
	margin-right: 2.31em;
	*margin-right: 2.25em;
}

.pnlSubmenu ul li {
 	border: none;
 	margin: .462em 0;
	*margin: .45em 0;
    font-size: 93%;
}

.pnlSubmenu ul li a, .pnlSubmenu ul li p {
 	color: #333;
}

.pnlSubmenu .img-caption {
	background-color: #7099cc;
 	padding: .385em;
	*padding: .375em;
    margin: 0;
    color: #fff;
}

.pnlSubmenu a .img-caption p, .submenu .img-caption li a {
 	color: #fff;
    line-height: 1.3;
    font-size: 100%;
}

.pnlSubmenu .img-caption img {
 	width: 100%;
  	padding: 0;
}

h3.stacked {
	margin-top: 1.538em;
	*margin-top: 1.5em;
}